@use "./mixins" as *;

// Fonts
h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: "Avenir Next";
  font-weight: 700;
  font-style: normal;
  @include media-tablet {
    font-size: 3.3rem;
    line-height: 4.4rem;
  }
}

h2 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Avenir Next";
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "Avenir Next";
  font-weight: 700;
  font-style: normal;
  @include media-tablet{
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

body {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  @include media-tablet{
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

button {
  font-size: 1rem;
  line-height: 2rem;
  font-family: "Avenir Next";
  font-weight: 700;
  font-style: normal;
  @include media-tablet{
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
