@use "./variables" as *;

@mixin media-tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin media-desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}


// For left and right spacing 
@mixin padding-tablet {
  padding: 1.6rem 3.2rem;
}

// Comment states
@mixin comment-placeholder {
  font-family: "Avenir Next";
  font-weight: 400;
  color: $BrainFlix-Black;
}
@mixin comment-active {
  outline: 0;
  border:2px solid $BrainFlix-Blue;
}
