*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}
