// Primary colour

$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095ff;
$Silver: #afafaf;
$White: #ffffff;

// Secondary colour

$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065ad;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
