@use "../../styles/partials/resets";
@use "../../styles/partials/fonts";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.active-comment {
    display: flex;
    gap: 1.6rem;
    padding: 1.6rem;
    border-bottom: 1px solid $Mercury;
    width: 100%;

    &__img {
        width: 3.6rem;
        height: 3rem;
        border-radius: 50%;
        background-color: $Mercury;
      }
    
   &__subtitle{
    display: flex;
    justify-content: space-between;

   }

   &__date{
    color: $Mercury;
   }
    

}
