@use "../../styles/partials/resets";
@use "../../styles/partials/fonts";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.active-comment {
  display: flex;
  gap: 2.4rem;
  padding: 1.6rem 0;
  border-bottom: 1px solid $Mercury;
  width: 100%;
  @include media-desktop{
    padding: 2.4rem 2.4rem 2.4rem 1rem ;
    border-top: 1px solid $Mercury;
    border-bottom: none;

  }

  &__img {
    width: 3.6rem;
    height: 3.2rem;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: $Mercury;
  }

  &__subtitle {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    color: $Silver;
    font-weight: 400;
  }
}
