@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins" as *;

.comment-form {
   display: flex;
   padding: 1.6rem;
   gap: 1.6rem;
  
  &__avatar {
    max-width: 3.6rem;
    height: 3rem;
    border-radius: 50%;
  }

  &

  &__btn {
    border-radius: 4px;
    border: none;
    background-color: $BrainFlix-Blue;
    background-image: url("../../assets/icons/add_comment.svg");
    background-position: left;
    background-repeat: no-repeat;
    color: $White;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.6rem;
  }
}
