@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins" as *;

.comment-form {
  display: flex;
  gap: 1.6rem;

  &__avatar {
    max-width: 3.6rem;
    height: 3.2rem;
    border-radius: 50%;
    position: relative;
    top: 2.8rem;
  }
  &__text {
    width: 100%;
    @include media-tablet {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__title {
    color: $Silver;
    padding-bottom: 0.5rem;
  }
  &__comment {
    @include media-tablet {
      width: 100%;
    }
  }
  &__textarea {
    width: 100%;
    border: 1px solid $Mercury;
    border-radius: 4px;
    background-color: $Alabaster;
    padding: 1.2rem;
    margin: 0 0 1rem;
    font-family: "Avenir Next";
    font-weight: 400;
    min-height: 3.6rem;
    height: 10rem;
    @include media-tablet {
      padding: 1.6rem;
      height: 4rem;
    }
    &::placeholder {
      @include comment-placeholder;
    }
    &:focus {
      @include comment-active;
    }
  }
  &__post {
    position: relative;
    width: 100%;
  }
  &__btn {
    border-radius: 4px;
    border: none;
    background-color: $BrainFlix-Blue;
    color: $White;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.6rem;
    @include media-tablet {
      width: 60%;
    }
  }

  &__icon {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
  }
}
