@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  @include media-tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-img {
    max-width: 120px;
  }
  &__logo {
    margin: auto;
    padding-bottom: 1.6rem;
    @include media-tablet {
      margin: 0;
    }
  }
  &__search {
    border: 1px solid $Mercury;
    border-radius: 4px;
    padding: 1.2rem 1.2rem 1.2rem 3.2rem;
    width: 80%;
    &::placeholder {
      font-family: "Avenir Next";
      font-weight: 400;
      font-style: normal;
      font-size: 1.2rem;
      line-height: 2rem;
      color: $BrainFlix-Black;
    }
  }
  &__search-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__avatar {
    max-width: 3.6rem;
    height: 3.2rem;
    border-radius: 50%;
    @include media-tablet {
      display: none;
    }
    &--bigger-screen {
      display: none;
      @include media-tablet {
        display: initial;
      }
    }
  }

  &__user-container {
    position: relative;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding-bottom: 1.6rem;
  }
  &__container {
    @include media-tablet {
      display: flex;
    }
  }
  &__btn {
    border-radius: 4px;
    border: none;
    background-color: $BrainFlix-Blue;
    background-image: url("../../assets/icons/upload.svg");
    background-position: left;
    background-repeat: no-repeat;
    color: $White;
    width: 100%;
    font-weight: 600;
    padding: 1rem 1rem 1rem 2rem;
    @include media-tablet {
      width: 12rem;
    }
  }
}
