@use "../../styles/partials/resets";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.videoPlayer{
    width: 100%;
    padding-bottom:  2.4rem;
    
    @include media-desktop{
        padding-bottom:0;
    }
    &__preview{
        background-color: $BrainFlix-DarkBlack;
        width: 100%;
        height: 50vw;
        aspect-ratio: 16/9;

    }
}