@use "../../styles/partials/resets";
@use "../../styles/partials/mixins" as *;


.videoPlayer{
    max-width: 100%;
    padding-bottom:  2.4rem;
    @include media-desktop{
        padding-bottom:0;
    }
    &__preview{
        max-width: 100%;
        height: auto;

    }
}