@use "../../styles/partials/resets";
@use "../../styles/partials/fonts";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sidebar {
    &__video{
        display: flex;
        align-items: center;
        padding: 1.6rem;
        gap: 1.2rem;
    }
  
  &__video-img-container {
    background-color: $Mercury;
    width: 12rem;
    height: 6rem;
  }
  &__video-img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }
}
