@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.sidebar {
  &__title {
    color: $Silver;
    padding: 1.6rem 1.6rem 0;

    @include media-tablet{
       padding: 1.6rem 0 0 3.2rem;
    }

    @include media-desktop {
      padding: 2.4rem 0 2.4rem 1.6rem;
    }
  }
}
