@use "./styles/partials/resets";
@use "./styles/partials/fonts";
@use "./styles/partials/global";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

main {
    @include media-desktop{
           display: flex;
           padding-right: 14rem ;
 
    }
}

.video-details-container{
    border-right: 1px solid $Mercury;
}