@use "./styles/partials/resets";
@use "./styles/partials/fonts";
@use "./styles/partials/global";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

main {
  padding-bottom: 2.4rem;
  @include media-desktop {
    display: flex;
    padding: 0 10rem 0 0;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.video-details-container {
  @include media-desktop {
    border-right: 1px solid $Mercury;
  }
}
