@use "./styles/partials/resets";
@use "./styles/partials/fonts";
@use "./styles/partials/global";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

main {
  @include media-desktop {
    display: flex;
    padding: 0 10rem 0 0;
  }
}

.video-details-container {
  @include media-desktop {
    border-right: 1px solid $Mercury;
  }
}
